<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>Patroleum | Virtual Patrol</title>
    {% load static %}
    <link rel="icon"type="image/png" href="{% static 'mysite/images/fav-icon.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/css/bootstrap-slider.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/css/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/css/style-grey.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/css/custom.css' %}">
    <script src="//code.tidio.co/477lwmfm3qpxuaqihmxc3szqcg9hcb0h.js" async></script>
</head>

<body>

<div id="header-holder" class="inner-header about-header">
    <div class="bg-custom">
        <div class="obj-gradiant1"></div>
        <div class="obj-gradiant2"></div>
    </div>
    <nav id="nav" class="navbar navbar-default navbar-full">
        <div class="container-fluid">
            <div class="container container-nav">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button aria-expanded="false" type="button" class="navbar-toggle collapsed"
                                data-toggle="collapse" data-target="#bs">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>                                <a class="logo-holder" href="{% url 'home' %}">
                                <div class="logo" style="width:124px;height:36px"></div>
                            </a>
                        </div>
                        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse"
                            id="bs">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="/features">Features</a></li>   
                                <li><a href="{% url 'plan_pricing' %}">Plans & Pricing</a></li>
                                {% if user.is_authenticated %}
                                <li class="dropdown">
                                    <a>{{user.get_username}} <i class="fas fa-caret-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Dashboard</a></li>
                                        <li><a href="#">Profile</a></li>
                                        <li><a href="{% url 'logout' %}">Log out</a></li>
                                    </ul>
                                </li>
                                {% else %}
                                <li><a class="login-button" href="{% url 'signin' %}">Login</a></li>
                                {% endif %}
                                <li class="support-button-holder support-dropdown">
                                    <a class="support-button" href="#">Contact us</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fas fa-phone"></i>Toll-Free 1-800-777-1944</a></li>
                                        <li><a href="#"  onclick="document.getElementById('tidio-chat-iframe').contentWindow.document.getElementById('button-body').click();"><i class="fas fa-comments"></i>Start a Live Chat</a></li>
                                        <li><a href="#"><i class="fas fa-ticket-alt"></i>Open a ticket</a></li>
                                        <li><a href="#"><i class="fas fa-book"></i>Knowledge base</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div id="page-head" class="container-fluid inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="icons-animation-holder">
                        <div class="aicon aicon1"><img src="images/aicon1.png" alt=""></div>
                        <div class="aicon aicon2"><img src="images/aicon2.png" alt=""></div>
                        <div class="aicon aicon3"><img src="images/aicon3.png" alt=""></div>
                        <div class="aicon aicon4"><img src="images/aicon4.png" alt=""></div>
                        <div class="aicon aicon-main">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 134 38" width="124px" height="35px" class="logo">
                                <text kerning="auto" font-family="Rubik" fill="rgb(255, 255, 255)" transform="matrix( 11.051445195489, 0, 0, 11.0388026563729,0.08427829227281, 28.538802656373)" font-size="3.46px">Hostify</text>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 company-info-holder">
                    <h4>About Hostify</h4>
                    <div class="info-slider">
                        <div>
                            <div class="details-holder">
                                <p>Hostify At vero eos et accusamus<br>
                                    et iusto odio dignissimos ducimus<br>
                                    qui blanditiis praesentium voluptatum<br>
                                    deleniti atque corrupti quos dolores<br>
                                    et quas molestias excepturi sint<br>
                                    occaecati cupiditate non.</p>
                            </div>
                        </div>
                        <div>
                            <div class="details-holder">
                                <p>Hostify At vero eos et accusamus<br>
                                    et iusto odio dignissimos ducimus<br> 
                                    qui blanditiis praesentium voluptatum<br>
                                    deleniti atque corrupti quos dolores<br>
                                    et quas molestias excepturi sint<br>
                                    occaecati cupiditate non.</p>
                            </div>
                        </div>
                        <div>
                            <div class="details-holder">
                                <p>Hostify At vero eos et accusamus<br>
                                    et iusto odio dignissimos ducimus<br> 
                                    qui blanditiis praesentium voluptatum<br>
                                    deleniti atque corrupti quos dolores<br>
                                    et quas molestias excepturi sint<br>
                                    occaecati cupiditate non.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ifeatures" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">What makes us special?</div>
                <div class="row-subtitle"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="feature-box">
                    <div class="feature-icon">
                        <img src="images/feature1.png" alt="">
                    </div>
                    <div class="feature-title">Share Files</div>
                    <div class="feature-details">Lorem ipsum dolor sit amir anim
amoe yosner dolner </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box">
                    <div class="feature-icon">
                        <img src="images/feature2.png" alt="">
                    </div>
                    <div class="feature-title">Go Unlimited</div>
                    <div class="feature-details">Lorem ipsum dolor sit amir anim
amoe yosner dolner </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box">
                    <div class="feature-icon">
                        <img src="images/feature3.png" alt="">
                    </div>
                    <div class="feature-title">Security First</div>
                    <div class="feature-details">Lorem ipsum dolor sit amir anim
amoe yosner dolner </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box">
                    <div class="feature-icon">
                        <img src="images/feature4.png" alt="">
                    </div>
                    <div class="feature-title">Trusted 100%</div>
                    <div class="feature-details">Lorem ipsum dolor sit amir anim
amoe yosner dolner </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="more-info" class="container-fluid">
    <div class="bg-custom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="links-holder">
                    <ul>
                        <li><div class="info-link opened" data-id="1">Our Mission</div></li>
                        <li><div class="info-link" data-id="2">Our Vision</div></li>
                        <li><div class="info-link" data-id="3">Hostify Commitment</div></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="info-details-holder">
                    <div class="info-details info-d1 show-details">
                        <h1>Creating a space<br>
                        for creatives.</h1>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum div atque corrupti quos dolores et quas molestias.</p>
                    </div>
                    <div class="info-details info-d2">
                        <h1>Hostify will always<br>
                        feels like home.</h1>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum div atque corrupti quos dolores et quas molestias.</p>
                    </div>
                    <div class="info-details info-d3">
                        <h1>Affordable pricing<br>
                        made easy.</h1>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum div atque corrupti quos dolores et quas molestias.</p>
                    </div>       
                </div>
            </div>
        </div>
    </div>
</div>
<div id="team" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">Our support. our team</div>
                <div class="row-subtitle"></div>
            </div>
        </div>
        <div class="row team-holder">
            <div class="col-sm-6 col-md-3">
                <div class="person-box">
                    <div class="person-icon">
                        <div class="person-img"><img src="images/team1.jpg" alt="" /></div>
                    </div>
                    <div class="person-name">Chris Walker</div>
                    <div class="person-title">CEO & CO-Founder</div>
                    <div class="person-social">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="person-box">
                    <div class="person-icon">
                        <div class="person-img"><img src="images/team2.jpg" alt="" /></div>
                    </div>
                    <div class="person-name">Jane Donald</div>
                    <div class="person-title">Client service</div>
                    <div class="person-social">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="person-box">
                    <div class="person-icon">
                        <div class="person-img"><img src="images/team3.jpg" alt="" /></div>
                    </div>
                    <div class="person-name">David Adams</div>
                    <div class="person-title">Server Admin</div>
                    <div class="person-social">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="person-box">
                    <div class="person-icon">
                        <div class="person-img"><img src="images/team4.jpg" alt="" /></div>
                    </div>
                    <div class="person-name">Rose Masso</div>
                    <div class="person-title">Quality Assurance</div>
                    <div class="person-social">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="person-box">
                    <div class="person-icon">
                        <div class="person-img"><img src="images/team5.jpg" alt="" /></div>
                    </div>
                    <div class="person-name">Travis Walker</div>
                    <div class="person-title">CO-Founder</div>
                    <div class="person-social">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="person-box">
                    <div class="person-icon">
                        <div class="person-img"><img src="images/team6.jpg" alt="" /></div>
                    </div>
                    <div class="person-name">Bella Vayner</div>
                    <div class="person-title">Client service</div>
                    <div class="person-social">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="person-box">
                    <div class="person-icon">
                        <div class="person-img"><img src="images/team7.jpg" alt="" /></div>
                    </div>
                    <div class="person-name">Mary Wilson</div>
                    <div class="person-title">Client service</div>
                    <div class="person-social">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="person-box">
                    <div class="person-icon">
                        <div class="person-img"><img src="images/team8.jpg" alt="" /></div>
                    </div>
                    <div class="person-name">Craig Davids</div>
                    <div class="person-title">Web Master</div>
                    <div class="person-social">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="message1" class="container-fluid message-area normal-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="text-other-color1">Are you ready?</div>
                <div class="text-other-color2">create an account, or contact us.</div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="buttons-holder">
                    <a href="#" class="ybtn ybtn-accent-color">Create Your Account</a><a href="#" class="ybtn ybtn-white ybtn-shadow">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="container-fluid" style="position: relative;">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="address-holder">
                    <div class="phone"><i class="fas fa-phone"></i> 1-800-777-1944</div>
                    <div class="email"><i class="fas fa-envelope"></i> <a href="mailto:help@patroleum.com" style="color: white !important;font-weight: bold;">help@patroleum.com</a></div>
                    <div class="address">
                        <i class="fas fa-map-marker"></i> 
                        <div>201 s las vegas blvd #512
                            Las Vegas, NV 89101 USA</div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-2 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Main</h4>
                    <ul class="footer-menu">
                        <li><a href="/">My Patroleum</a></li>
                        <li><a href="{% url 'plan_pricing' %}"">Plan & Pricing</a></li>
                        <li><a href="/features">Features</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2">
                <div class="footer-menu-holder">
                    <h4>About</h4>
                    <ul class="footer-menu">
                        <li><a href="/about">About us</a></li>
                        <li><a href="/contact">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Check availability</h4>
                    <ul class="footer-menu">
                        <li>
                            <form>
                                <input type="text" name="username" placeholder="E-mail Address" required>
                                <br>
                                <button type="submit">Submit</button>
                            </form>
                        </li>

                    </ul>
                </div>
            </div> -->
            <!-- <div class="col-xs-12 col-sm-1 col-md-1">
                <div class="social-menu-holder">
                    <ul class="social-menu">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>

    <div class="footer-company"><p>© 2012-2020 Patroleum, Inc.</p></div>
</div>
<script src="{% static 'mysite/js/jquery.min.js' %}"></script>
<script src="{% static 'mysite/js/bootstrap.min.js' %}"></script>
<script src="{% static 'mysite/js/bootstrap-slider.min.js' %}"></script>
<script src="{% static 'mysite/js/slick.min.js' %}"></script>
<script src="{% static 'mysite/js/main.js' %}"></script>
</body>
</html>
