<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>Patroleum | Virtual Patrol</title>
    {% load static %}
    <link rel="icon"type="image/png" href="{% static 'mysite/images/fav-icon.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/css/bootstrap-slider.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/css/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/css/style-grey.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/css/custom.css' %}">
    <script src="//code.tidio.co/477lwmfm3qpxuaqihmxc3szqcg9hcb0h.js" async></script>
</head>

<body>

<div id="header-holder" class="inner-header contact-header">
    <nav id="nav" class="navbar navbar-default navbar-full">
        <div class="container-fluid">
            <div class="container container-nav">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button aria-expanded="false" type="button" class="navbar-toggle collapsed"
                                data-toggle="collapse" data-target="#bs">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>                                <a class="logo-holder" href="{% url 'home' %}">
                                <div class="logo" style="width:124px;height:36px"></div>
                            </a>
                        </div>
                        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse"
                            id="bs">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="/features">Features</a></li>   
                                <li><a href="{% url 'plan_pricing' %}">Plans & Pricing</a></li>
                                {% if user.is_authenticated %}
                                <li class="dropdown">
                                    <a>{{user.get_username}} <i class="fas fa-caret-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Dashboard</a></li>
                                        <li><a href="#">Profile</a></li>
                                        <li><a href="{% url 'logout' %}">Log out</a></li>
                                    </ul>
                                </li>
                                {% else %}
                                <li><a class="login-button" href="{% url 'signin' %}">Login</a></li>
                                {% endif %}
                                <li class="support-button-holder support-dropdown">
                                    <a class="support-button" href="#">Contact us</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fas fa-phone"></i>Toll-Free 1-800-777-1944</a></li>
                                        <li><a href="#"  onclick="document.getElementById('tidio-chat-iframe').contentWindow.document.getElementById('button-body').click();"><i class="fas fa-comments"></i>Start a Live Chat</a></li>
                                        <li><a href="#"><i class="fas fa-ticket-alt"></i>Open a ticket</a></li>
                                        <li><a href="#"><i class="fas fa-book"></i>Knowledge base</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div id="page-head" class="container-fluid inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="page-title">Contact us</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="text">At vero eos et accusamus et iusto odio dignissimos<br>
ducimus qui blanditiis praesentium voluptatum deleniti<br>
atququi officia  deserunt mollitia animi.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contact-info" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">What makes us special?</div>
                <div class="row-subtitle"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info-box">
                    <div class="info-title phone-icon">Toll-Free</div>
                    <div class="info-details"><p>Customer service 24/7
                    Call Free On <a href="#">385 900 285 </a></p>

                    <p>Enjoy a free consultation with Hostino’s
                    best web experts.</p></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-box">
                    <div class="info-title chat-icon">Chat now</div>
                    <div class="info-details"><p>We're ready to answer any and all
                    questions.</p>

                    <p>Start chatting with our representative
                    by clicking the chat icon</p></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-box">
                    <div class="info-title location-icon">Visit us</div>
                    <div class="info-details"><p>We are located in Bahrain, Manama
                    Come and have a nice cup of coffee!</p>

                    <p>The City Avenue, Office 38, Floor 3
                    Road 398, Block 125</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="extra-info" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-holder">
                    <h1>Ready? Let’s decide<br>
    a domain name.</h1>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus<br>
    qui blanditiis praesentium voluptatum div atque corrupti quos<br>
    dolores et quas molestias.</p>
                </div>
            </div>
            <div class="col-md-6 link-holder">
                <div class="tld-graphic">
                    <div>.com</div>
                    <div>.net</div>
                    <div>.org</div>
                </div>
                <a href="domains.html" class="ybtn ybtn-header-color">Domains name list</a>
            </div>
        </div>
    </div>
</div>
<div id="articles" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">From the blog</div>
                <div class="row-subtitle"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="article-summary">
                    <div class="article-img"><img src="images/article1.jpg" alt="" /></div>
                    <div class="article-details">
                        <div class="article-title"><a href="post.html">Lorem ipsum dolor sit amet, consect</a></div>
                        <div class="article-text">Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh tincidunt ut laoreet dolore magna aliquam erat.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="article-summary">
                    <div class="article-img"><img src="images/article2.jpg" alt="" /></div>
                    <div class="article-details">
                        <div class="article-title"><a href="post.html">Ut laoreet dolore magna aliquam erat</a></div>
                        <div class="article-text">Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh tincidunt ut laoreet dolore magna aliquam erat.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="article-summary">
                    <div class="article-img"><img src="images/article3.jpg" alt="" /></div>
                    <div class="article-details">
                        <div class="article-title"><a href="post.html">Nibh tincidunt ut laoreet dolore magna aliquam</a></div>
                        <div class="article-text">Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh tincidunt ut laoreet dolore magna aliquam erat.
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
<div id="message1" class="container-fluid message-area normal-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="text-other-color1">Are you ready?</div>
                <div class="text-other-color2">create an account, or contact us.</div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="buttons-holder">
                    <a href="#" class="ybtn ybtn-accent-color">Create Your Account</a><a href="#" class="ybtn ybtn-white ybtn-shadow">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="container-fluid" style="position: relative;">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="address-holder">
                    <div class="phone"><i class="fas fa-phone"></i> 1-800-777-1944</div>
                    <div class="email"><i class="fas fa-envelope"></i> <a href="mailto:help@patroleum.com" style="color: white !important;font-weight: bold;">help@patroleum.com</a></div>
                    <div class="address">
                        <i class="fas fa-map-marker"></i> 
                        <div>201 s las vegas blvd #512
                            Las Vegas, NV 89101 USA</div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-2 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Main</h4>
                    <ul class="footer-menu">
                        <li><a href="/">My Patroleum</a></li>
                        <li><a href="{% url 'plan_pricing' %}"">Plan & Pricing</a></li>
                        <li><a href="/features">Features</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2">
                <div class="footer-menu-holder">
                    <h4>About</h4>
                    <ul class="footer-menu">
                        <li><a href="/about">About us</a></li>
                        <li><a href="/contact">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Check availability</h4>
                    <ul class="footer-menu">
                        <li>
                            <form>
                                <input type="text" name="username" placeholder="E-mail Address" required>
                                <br>
                                <button type="submit">Submit</button>
                            </form>
                        </li>

                    </ul>
                </div>
            </div> -->
            <!-- <div class="col-xs-12 col-sm-1 col-md-1">
                <div class="social-menu-holder">
                    <ul class="social-menu">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>

    <div class="footer-company"><p>© 2012-2020 Patroleum, Inc.</p></div>
</div>
<script src="{% static 'mysite/js/jquery.min.js' %}"></script>
<script src="{% static 'mysite/js/bootstrap.min.js' %}"></script>
<script src="{% static 'mysite/js/bootstrap-slider.min.js' %}"></script>
<script src="{% static 'mysite/js/slick.min.js' %}"></script>
<script src="{% static 'mysite/js/main.js' %}"></script>
</body>
</html>